@use '../../styles/modules.scss' as *;

.select {
  &.custom:global(.MuiInputBase-root) {
    width: 200px;
    color: $co-description;

    [class*='MuiSelect-select'] {
      padding: 4px 32px 4px 14px;
      @include font($ff: $ff-secondary, $fs: $fs-sm, $lh: rem(24px));
    }

    [class*='MuiOutlinedInput'] {
      border-color: $co-secondary;
      border-width: 1px;
    }

    [class*='MuiSvgIcon-root'] {
      color: $co-description-soft;
    }

    &.dark {
      color: $co-light;
      [class*='MuiOutlinedInput'] {
        border-color: $co-description;
      }
    }
  }

  &.outlined {
    &:global(.MuiInputBase-root) {
      width: 45px;
      border: 1px solid #ffb80380;
      color: $co-primary;
      border-radius: 6px;
      box-shadow: 0 4px 6px #32325d1c, 0 1px 3px #00000014;

      &:hover {
        border-color: $co-primary-light;
      }

      [class*='MuiSelect-select'] {
        padding: 0 !important;
        text-align: center;
        font-size: $fs-sm;
      }

      [class*='MuiSvgIcon-root'] {
        display: none;
      }

      [class*='MuiOutlinedInput'] {
        border: none;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .select {
    &.custom:global(.MuiInputBase-root) {
      [class*='MuiSelect-select'] {
        font-size: $fs-md;
      }
    }
  }
}
