@use '../../../styles/modules.scss' as *;

.root {
  height: $footer-ht;
}

.wrapper {
  text-align: center;
  padding: 12px 0;
  margin: 0 12px;
  border-top: 1px solid $co-secondary;

  * + * {
    margin-top: 10px;
  }

  &.dark {
    border-top: 1px solid $co-primary-blur;
  }
}

@include media-breakpoint-up(md) {
  .root {
    max-width: $xl;
    height: $footer-ht-dt;
    margin: auto;
  }

  .wrapper {
    padding: 18px 0;
    margin: 0 18px;
  }
}
