@use '../../styles/modules.scss' as *;

.root {
  max-width: 880px;
}

.select {
  width: 130px !important;
  margin-left: calc(100% - 130px);

  [class*='MuiSelect-select'] {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  [class*='MuiOutlinedInput'] {
    border-color: #eff0f8 !important;
    border-radius: 4px 4px 0 0;
    text-align: center;
  }
  [class*='MuiSvgIcon-root'] {
    color: #dbdde8 !important;
  }

  &__menu {
    min-height: 30px !important;
  }
}

.code {
  position: relative;
}

// idea: hide it
.editor {
  padding: 14px;
  position: absolute;
  inset: 0;
  resize: none;
  background: transparent;
  color: rgba(0, 0, 0, 0);
  caret-color: $co-dark;
  border: none;
  outline: none;
  overflow: hidden;

  @include font($ff: $ff-secondary, $fs: $fs-sm, $lh: $fs-lg);
}

.highlighter {
  width: 100%;
  padding: 14px !important;
  border-radius: 4px 0 4px 4px;
  min-height: 50px;
  background: $co-tertiary-soft !important;

  code {
    white-space: pre-wrap !important; // wrapLongLines
    @include font($ff: $ff-secondary, $fs: $fs-sm, $lh: $fs-lg);
  }
}

@include media-breakpoint-up(md) {
  .select {
    width: 150px !important;
    margin-left: calc(100% - 150px);

    &__menu {
      min-height: 40px !important;
    }
  }

  .editor,
  .highlighter code {
    @include font($fs: $fs-md, $lh: $fs-xl);
  }
}
