@use '../../styles/modules.scss' as *;

.button {
  // disable ripple effect on mui-button
  &:global(.MuiButton-root) {
    :global(.MuiTouchRipple-root) {
      display: none;
    }
  }
}

.icon {
  width: 24px !important;
  height: 28px !important;
  font-size: 16px !important;
  flex-shrink: 0 !important;
  color: $co-dark;

  .dark & {
    color: $co-primary;
  }
}

@include media-breakpoint-up(md) {
  .icon {
    height: 36px !important;
    font-size: 22px !important;
  }
}
