@use '../../../../styles/modules.scss' as *;

.list {
  height: 30px;
}

.link {
  display: flex;
  gap: 5px;
}

.logo {
  width: 30px;
  height: 30px;
  fill: $co-primary;
}

.typography {
  &:global(.MuiTypography-root) {
    margin: auto 0;
    font-size: $fs-lg;
  }
}

@include media-breakpoint-up(md) {
  .typography {
    &:global(.MuiTypography-root) {
      font-size: $fs-xl;
    }
  }
}
