@use '../../../styles/modules.scss' as *;

.modal.dark [class*='MuiBackdrop-root'] {
  background-color: rgba(255, 255, 255, 0.5);
}

.root {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: calc(100vw - 24px);
  max-height: calc(100vh - 24px);
  width: 100%;
  height: 100%;
  background-color: $co-light;
  overflow-y: auto;
  padding: 20px 10px;
  border-radius: 6px;

  & > *:not(:first-child) {
    margin-top: 15px;
  }
  & > *:last-child {
    margin-top: 25px;
  }

  &.dark {
    background-color: $co-dark;
  }
}

.header,
.subject {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.date {
  display: flex;
  gap: 10px;
  align-items: center;

  &__format {
    @include font(
      $ff: $ff-secondary,
      $fs: $fs-sm,
      $lh: $fs-sm,
      $fw: $fw-normal,
      $co: $co-description
    );

    &.dark {
      color: $co-light;
    }
  }
}

@include media-breakpoint-up(md) {
  .modal.dark [class*='MuiBackdrop-root'] {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .root {
    padding: 30px 20px;
    max-width: 748px;
    max-height: 600px;

    & > *:not(:first-child) {
      margin-top: 20px;
    }
    & > *:last-child {
      margin-top: 35px;
    }
  }

  .date {
    &__format {
      @include font($fs: $fs-md, $lh: $fs-md);
    }
  }
}
